.weather {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.weather .left-panel {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 20px;
    height: 100%;
}

.weather .right-panel {
    flex: 0 0 63%;
    max-width: 63%;
    padding: 20px;
    height: 100%;
}

@media (max-width: 767px) {

    .weather .left-panel,
    .weather .right-panel {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {

    .weather .left-panel,
    .weather .right-panel {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
}

.weather .right-panel .right-panel-header {
    display: flex;
    justify-content: space-between;
}

.weather .right-panel .right-panel-header .github-icon {
    text-align: end;
    font-size: 2rem;
}

.weather .right-panel .right-panel-header .selection-box {
    margin-bottom: 30px;
}

.weather .right-panel .right-panel-header .selection-box .selection-text {
    font-size: 20px;
    cursor: pointer;
    color: #8c8c8c;
}

.weather .right-panel .right-panel-header .selection-box .selection-text.active {
    color: #a474f1 !important;
    font-size: 25px !important;
}

@media (max-width: 767px) {
    .weather .right-panel .right-panel-header {
        flex-direction: column;
        align-items: center;
    }

    .weather .right-panel .right-panel-header .selection-box {
        order: 2;
    }

    .weather .right-panel .right-panel-header .github-icon {
        text-align: center;
        font-size: 2rem;
    }

    .weather .right-panel .right-panel-header .current-time {
        font-size: 0.95rem;
    }
}

.weather .right-panel .weatherInfo-container,
.forecast-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
}

.weather .right-panel .forecast-container {
    max-height: 580px;
    overflow: auto;
    cursor: all-scroll;
}