.weather-container {
    display: flex;
    flex-wrap: wrap;
}

.weather-items {
    margin: 0 1.35rem;
    padding: 1rem 0;
}

.weather-items:nth-child(1) {
    flex: 0 1 46%;
    max-width: 46%;
    max-height: 30%;
    min-height: 30%;
    order: 1;
}

.weather-items:nth-child(2) {
    flex: 0 1 22%;
    max-width: 22%;
    max-height: 30%;
    min-height: 30%;
    order: 2;
}

.weather-items:nth-child(3) {
    flex: 0 1 22%;
    max-width: 22%;
    max-height: 30%;
    min-height: 30%;
    order: 3;
}

.weather-items:nth-child(4) {
    flex: 0 1 30%;
    max-width: 30%;
    max-height: 70%;
    min-height: 70%;
    order: 4;
}

.weather-items:nth-child(5) {
    flex: 0 1 63%;
    max-width: 63%;
    max-height: 70%;
    min-height: 70%;
    order: 5;
}

@media (max-width: 767px) {
    .weather-items:nth-child(1),
    .weather-items:nth-child(2),
    .weather-items:nth-child(3),
    .weather-items:nth-child(4),
    .weather-items:nth-child(5) {
        flex: 0 1 100%;
        max-width: 100%;
        max-height: auto;
        min-height: auto;
    }

    .weather-items:nth-child(1) {
        order: 2;
    }

    .weather-items:nth-child(2) {
        order: 4;
    }

    .weather-items:nth-child(3) {
        order: 1;
    }

    .weather-items:nth-child(4) {
        order: 3;
    }

    .weather-items:nth-child(5) {
        order: 5;
    }
}

@media(min-width: 768px) and (max-width: 1023px) {
    .weather-items:nth-child(1),
    .weather-items:nth-child(3) {
        flex: 0 1 44%;
        max-width: 44%;
        max-height: 30%;
        min-height: 30%;
    }

    .weather-items:nth-child(2),
    .weather-items:nth-child(4),
    .weather-items:nth-child(5) {
        flex: 0 1 100%;
        max-width: 100%;
        max-height: 70%;
        min-height: 70%;
    }

    .weather-items:nth-child(1) {
        order: 1;
    }

    .weather-items:nth-child(2) {
        order: 4;
    }

    .weather-items:nth-child(3) {
        order: 2;
    }

    .weather-items:nth-child(4) {
        order: 3;
    }

    .weather-items:nth-child(5) {
        order: 5;
    }
}

@media(min-width: 1024px) and (max-width: 1327px) {
    .weather-items:nth-child(1) {
        flex: 0 1 40%;
        max-width: 40%;
    }

    .weather-items:nth-child(3) {
        flex: 0 1 24%;
        max-width: 24%;
    }

    .weather-items:nth-child(5) {
        flex: 0 1 58%;
        max-width: 58%;
    }
}

.selection-container .selection-text {
    font-size: 20px;
    cursor: pointer;
    color: #8c8c8c;
}

.selection-container .selection-text.active {
    color: var(--lavender) !important;
    font-size: 25px !important;
}

.info {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    text-align: end;
}

.info .current-time {
    flex: 0 1 100%;
    max-width: 100%;
    max-height: 50%;
    min-height: 50%;
    line-height: 1;
}

.info .time-format {
    flex: 0 1 20%;
    max-width: 20%;
    max-height: 50%;
    min-height: 50%;
}

.info .github-icon {
    flex: 0 1 10%;
    max-width: 10%;
    max-height: 50%;
    min-height: 50%;
}