@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
	--black: #212529;
	--white: #fff;
	--lavender: #a474f1;
	--light-lavender: #a474f14f;
}

* {
	font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
	width: 0;
	height: 0;
	background-color: transparent;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	height: 100%;
}

.d,
.d button,
.d button:not(.n) {
	color: var(--black);
	background-color: var(--white);
}

.d button:not(.disabled):hover {
	color: var(--white);
	background-color: var(--lavender);
}

.n,
.n button,
.n button:not(.d) {
	color: var(--white);
	background-color: var(--black);
}

.n button:not(.disabled):hover {
	color: var(--white);
	background-color: var(--lavender);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}