.msg-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.msg-text {
    text-align: center;
    font-size: 5rem;
}

@media (max-width: 767px) {
    .msg-text {
        font-size: 4rem;
    }
}